body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #cdeefa;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40vw;

}



.qr-box {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    width: 250px;
    height: 450px;
    background-color: white;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.26);

}

.qr-box img {
    order: 1;
    height: 30vh;
    width: auto;
    border-radius: 25px;
    padding: 10px;
    border: 10px;
    margin: 10px;
}

.header {
    order: 2;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    color: #0000
}

.instructions {
    order: 3;
    padding: 5px;
    border: 5px;
    text-align: center;

}

.attribution {
    order: 4;
}